@use "presets" as *;

body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;

  content: "12345";
  text-align: center;


  background-color: $color-primary;

}

section {
  display: block;
  max-width: 100%;
}

div {
  max-width: 100%;
}

// h1 {
//   color: white;

//   @media (min-width: 901px) {
//     &:hover,
//     &:focus {
//       color: red;
//     }
//   }

//   @media (min-width: 601px) {
//     color: red;
//   }

//   @media (max-width: 600px) {
//     color: red;
//   }
// }

h1 {
  color: $color-white;
  font-family: "GlowwormMN";
  font-size: 6em;
  text-shadow: 1px 1px 2px $color-black;
}

// h2 {
//   color: white;

//   @media (min-width: 601px) {
//     color: red;
//   }

//   @media (max-width: 600px) {
//     color: red;
//   }
// }

h2 {
  color: $color-brown;
  font-family: "GlowwormMN";
  font-size: 4em;
}

h4 {
  font-family: "GlowwormMN";
  font-size: 2em;
  color: $color-brown;
}

h5 {
  font-size: 1.2em;
  margin-bottom: -$gap*0.5;
  font-family: 'Poppins', sans-serif;
  padding-top: $gap;
  font-weight: bold;
  color: $color-brown;
}

p {
  font-size: 1.1rem;
  color: $color-brown;
}

// h3 {
//   color: white;
//   @media (min-width: 701px) {
//     &:hover,
//     &:focus {
//       color: red;
//     }
//   }

//   @media (min-width: 901px) {
//     color: red;
//   }

//   @media (max-width: 700px) {
//     color: red;
//   }
// }

// h4 {
//   color: white;

//   @media (min-width: 601px) and (max-width: 800px) {
//     color: green;
//   }

//   @media (min-width: 701px) and (max-width: 900px) {
//     color: red;
//   }

