@use "presets" as *;
@use "common";

@import 'header/header';
@import 'header/header-menu';

@import 'main/section-explore.scss';

@font-face {
  font-family: "GlowwormMN"; 
  src: url("../fonts/Glowworm_MN_Compressed_.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
  } 


div {
  width: $ul;
  padding-left: $gap;
  padding-right: $gap;
}
