@use "presets" as *;
@use "common";

@import 'header/header';
@import 'header/header-menu';

@import 'main/section-explore.scss';
@import 'main/section-product.scss';
@import 'main/section-voting.scss';
@import 'main/section-story.scss';
@import 'main/section-contacts.scss';

@font-face {
  font-family: "GlowwormMN"; 
  src: url("../fonts/Glowworm_MN_Compressed_.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
  } 
