body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;
  content: "12345";
  text-align: center;
  background-color: white;
}

section {
  display: block;
  max-width: 100%;
}

div {
  max-width: 100%;
}

h1 {
  color: white;
  font-family: "GlowwormMN";
  font-size: 6em;
  text-shadow: 1px 1px 2px black;
}

h2 {
  color: #490f00;
  font-family: "GlowwormMN";
  font-size: 4em;
}

h3 {
  margin-top: 80px;
  margin-bottom: 20px;
  color: #490f00;
  font-weight: bold;
}

h4 {
  font-family: "GlowwormMN";
  font-size: 2em;
  color: #490f00;
}

h5 {
  font-size: 1.2em;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
  font-weight: bold;
  color: #490f00;
}

p {
  font-size: 1.1rem;
  color: #490f00;
}

.header {
  background-image: url(/assets/img/abstract-yellow-gradient-background-vector.jpg);
  background-size: cover;
}

.header-menu {
  width: 100%;
}

.header-logo {
  margin-left: 100px;
  margin-right: -15em;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-menu {
  width: 100%;
}
.dropdown-menu :hover {
  color: red;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.explore__container {
  height: 85vh;
  background-image: url(/assets/img/maxresdefault.jpg);
  background-size: cover;
}

.explore-subtitle {
  color: white;
}

.explore-description {
  display: block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trademark {
  font-size: 0.6em;
  position: relative;
  bottom: 30px;
}

.product-container {
  background-color: #f9f1db;
  padding-bottom: 40px;
}

.product-title {
  padding-top: 20px;
}

.product-description__container {
  padding-top: 20px;
}

.product-left,
.product-right {
  background-color: transparent;
  border: none;
  color: #490f00;
}
.product-left__img,
.product-right__img {
  max-width: 500px;
  max-height: 300px;
}
.product-left__img:hover,
.product-right__img:hover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.voting-content__subtitle, .voting-content__title {
  color: white;
  margin-bottom: 20px;
}

.story {
  background-color: white;
}

.story-title__text {
  color: #490f00;
  margin-bottom: 10px;
}
.story-title__img {
  background-image: url(/assets/img/Birth_of_a_phenomenon_16x9.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.story-info {
  margin-bottom: 40px;
}

.story-items {
  margin-top: 40px;
}

.story-item {
  margin-bottom: 60px;
}
.story-item__text {
  width: 70%;
}
.story-item__image {
  max-width: 500px;
  max-height: 300px;
  margin-left: 10%;
}
.story-item__right {
  margin-left: -5%;
}
.story-item__left {
  padding-left: 25%;
}
.story-item__imagecontainer {
  margin-left: -10%;
}

.contacts__container {
  background-color: #f9f1db;
  padding-bottom: 40px;
}

.contacts-content__title {
  padding-top: 20px;
}

.contacts-form {
  width: 50%;
}
.contacts-form__title {
  margin-top: 40px;
  color: red;
  font-size: 2rem;
  font-weight: bold;
}
.contacts-form__container {
  padding: 20px;
  background-color: rgba(252, 178, 67, 0.918);
}
.contacts-form__btn {
  background-color: #490f00;
  border: none;
}

.footer {
  background-color: red;
  width: 100%;
}

.footer-content {
  padding-top: 20px;
}
.footer-content__title {
  margin-bottom: -6px;
  color: white;
  font-weight: bold;
}
.footer-content__icons {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}
.footer-content__icons a {
  display: block;
  padding: 10px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: white;
}
.footer-content__icons a:hover {
  color: orange;
}
.footer-content__icons i {
  font-size: 2.25em;
}
.footer-content__text {
  margin-bottom: 20px;
}
.footer-content__text p {
  color: white;
}
.footer-content::after {
  width: 80%;
  height: 1px;
  content: "";
  background-color: white;
  margin-left: 10%;
}

.footer-links__item {
  text-align: left;
  margin-right: 100px;
}
.footer-links__item li {
  list-style-type: none;
}
.footer-links__item a {
  color: white;
  font-weight: bold;
}

.footer-title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 0;
  padding: 20px;
}

@font-face {
  font-family: "GlowwormMN";
  src: url("../fonts/Glowworm_MN_Compressed_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}