body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  content: "12345";
  text-align: center;
  background-color: orange;
}

h1 {
  color: white;
  font-family: "GlowwormMN";
  font-size: 6em;
}

h2 {
  color: #490f00;
  font-family: "GlowwormMN";
  font-size: 4em;
}

.header {
  background-image: url(/assets/img/abstract-yellow-gradient-background-vector.jpg);
  background-size: cover;
}

.header-menu {
  width: 100%;
}

.header-logo {
  margin-left: 100px;
  margin-right: -15em;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.5em;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-menu {
  width: 100%;
}
.dropdown-menu :hover {
  color: red;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.explore__container {
  display: block;
  max-width: 100%;
  height: 80vh;
  background-image: url(/assets/img/maxresdefault.jpg);
  background-size: cover;
}

.explore-content {
  color: white;
  font-size: 1.2em;
  margin-bottom: -10px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 20px;
}

.explore-description {
  display: block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__container {
  max-width: 100%;
}

.product-title__container {
  display: block;
  width: 100%;
  padding-top: 20px;
}

.product-description__container {
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}

@font-face {
  font-family: "GlowwormMN";
  src: url("../fonts/Glowworm_MN_Compressed_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-shadow: 1px 1px 2px black;
}

@media (min-width: 601px) {
  body a {
    text-decoration: none;
  }
  body a:hover, body a:focus {
    color: red;
  }
}

@media (min-width: 901px) {
  body a:hover, body a:focus {
    color: red;
  }
}

@media (max-width: 600px) {
  body a {
    text-decoration: underline;
  }
  body a:hover, body a:focus {
    color: red;
  }
}