/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  top: 0;
  right: 0;
  left: 0.5;
  content: "12345";
  text-align: center;
  background-color: white;
  font-size: 16px;
  color: #490f00;
}

h1 {
  color: white;
  font-family: "GlowwormMN";
  text-shadow: 1px 1px 2px black;
}

h2 {
  color: #490f00;
  font-family: "GlowwormMN";
}

h3 {
  color: #490f00;
  font-weight: bold;
}

h4 {
  font-family: "GlowwormMN";
  color: #490f00;
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #490f00;
}

.header-menu {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

/* xl */
/* lg */
/* md */
/* sm */
/* xs */
/* xx */
.header {
  display: grid;
  background-color: orange;
  background-image: url(/assets/img/abstract-yellow-gradient-background-vector.jpg);
  background-size: cover;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header-logo {
  margin-right: 40px;
}

.nav-item {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-menu :hover {
  color: red;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.explore__container {
  height: 85vh;
  background-image: url(/assets/img/maxresdefault.jpg);
  background-size: cover;
}

.explore-subtitle {
  color: white;
}

.explore-description {
  display: block;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trademark {
  font-size: 0.6em;
  position: relative;
  bottom: 30px;
}

.product-container {
  background-color: #f9f1db;
  padding-bottom: 40px;
}

.product-title {
  padding-top: 20px;
}

.product-description__container {
  padding-top: 20px;
}

.product-left,
.product-right {
  background-color: transparent;
  border: none;
  color: #490f00;
}
.product-left__img,
.product-right__img {
  max-width: 500px;
  max-height: 300px;
}
.product-left__img:hover,
.product-right__img:hover {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.voting {
  background-color: red;
  background-image: url(assets/img/396000082_Twix_Header_ExploreTwix\ v2.jpg);
  background-size: cover;
  padding-bottom: 40px;
}

.voting-content__subtitle, .voting-content__title, .voting-content__text {
  color: white;
}

.voiting-progress {
  width: 40%;
  margin-top: 40px;
}
.voiting-progress p {
  color: white;
}
.voiting-progress__scale {
  padding: 0;
}

.voiting-ending {
  margin-top: 20px;
  color: white;
}

.story {
  background-color: white;
}

.story-title__text {
  color: #490f00;
  margin-bottom: 10px;
}
.story-title__img {
  background-image: url(/assets/img/Birth_of_a_phenomenon_16x9.jpg);
  background-size: cover;
  height: 40vh;
  width: 100%;
}

.story-info {
  margin-bottom: 40px;
}

.story-items {
  margin-top: 40px;
}

.story-item {
  margin-bottom: 60px;
}
.story-item__text {
  width: 70%;
}
.story-item__image {
  max-width: 500px;
  max-height: 300px;
  margin-left: 10%;
}
.story-item__right {
  margin-left: -5%;
}
.story-item__left {
  padding-left: 25%;
}
.story-item__imagecontainer {
  margin-left: -10%;
}

.contacts__container {
  background-color: #f9f1db;
  padding-bottom: 40px;
}

.contacts-content__title {
  padding-top: 20px;
}

.contacts-form {
  width: 50%;
}
.contacts-form__title {
  margin-top: 40px;
  color: red;
  font-size: 2rem;
  font-weight: bold;
}
.contacts-form__container {
  padding: 20px;
  background-color: rgba(252, 178, 67, 0.918);
}
.contacts-form__btn {
  background-color: #490f00;
  border: none;
}

.footer {
  background-color: red;
  width: 100%;
}

.footer-content {
  padding-top: 20px;
}
.footer-content__title {
  margin-bottom: -6px;
  color: white;
  font-weight: bold;
}
.footer-content__icons {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(50px, -webkit-max-content));
  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
}
.footer-content__icons a {
  display: block;
  padding: 10px;
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  color: white;
}
.footer-content__icons a:hover {
  color: orange;
}
.footer-content__icons i {
  font-size: 2.25em;
}
.footer-content__text {
  margin-bottom: 20px;
}
.footer-content__text p {
  color: white;
}
.footer-content::after {
  width: 80%;
  height: 1px;
  content: "";
  background-color: white;
  margin-left: 10%;
}

.footer-links__item {
  text-align: left;
  margin-right: 100px;
}
.footer-links__item li {
  list-style-type: none;
}
.footer-links__item a {
  color: white;
  font-weight: bold;
}

.footer-title {
  font-size: 2.5em;
  color: white;
  margin-bottom: 0;
  padding: 20px;
}

@font-face {
  font-family: "GlowwormMN";
  src: url("../fonts/Glowworm_MN_Compressed_.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@media (min-width: 768px) {
  h4 {
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  h5 {
    padding-top: 20px;
    font-size: 1.2rem;
    margin-bottom: -10px;
  }
}

@media (min-width: 1200px) {
  .nav-item {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1199.8px) and (min-width: 992px) {
  .nav-item {
    padding-left: 14px;
    padding-right: 14px;
    font-size: 1.3rem;
  }
}

@media (max-width: 991.8px) and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  h5 {
    padding-top: 20px;
    font-size: 1rem;
    margin-bottom: -4px;
  }
  .header-logo__img {
    width: 70%;
  }
  .nav-item {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 1.2rem;
  }
}

@media (max-width: 767.8px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    padding-top: 14px;
    font-size: 0.8rem;
    margin-bottom: -2px;
  }
  p {
    font-size: 0.8rem;
  }
  .header-logo__img {
    width: 50%;
  }
}

@media (max-width: 767.8px) and (min-width: 576px) {
  h3 {
    margin-top: 50px;
    margin-bottom: 14px;
    font-size: 1rem;
  }
  .nav-item {
    padding-left: 6px;
    padding-right: 6px;
    font-size: 0.6rem;
  }
}

@media (max-width: 575.8px) {
  h3 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 0.8rem;
  }
}