.story {
    background-color: $color-white;
}

.story-title {
    &__text {
        color: $color-brown;
        margin-bottom: $gap*0.5;
    }

    &__img {
        background-image: url(/assets/img/Birth_of_a_phenomenon_16x9.jpg);
        background-size: cover;
        height: 40vh;
        width: 100%;
    }
}

.story-info {
    margin-bottom: 2*$gap;
}

.story-items {
    margin-top: 2*$gap;
}

.story-item {
    margin-bottom: 3*$gap;

    &__text {
        width: 70%;
    }

    &__image {
        max-width: 500px;
        max-height: 300px;
        margin-left: 10%;
    }

    &__right {
        margin-left: -5%;   
    }

    &__left {
        padding-left: 25%;
    }

    &__imagecontainer {
        margin-left: -10%;   
    }
}





