.product {

    &-container {
        background-color: $color-light;
        padding-bottom: 2*$gap;
    }

    &-title {
        padding-top: $gap;
    }

    &-description {
        &__container {
            padding-top: $gap;
            @extend %container;
        }
    }

    &-left,
    &-right {
        background-color: transparent;
        border: none;
        color: $color-brown;
        margin: 0;
    
        &__img {
            max-width: 500px;
            max-height: 300px;
    
            &:hover {
                transition: transform .5s;
                transform: scale(1.05);
            }
        }
    }

}
