.contacts__container {
    background-color: $color-light;
    padding-bottom: 2*$gap;
}

.contacts-content__title {
    padding-top: $gap;
}

.contacts-form {
    width: 50%;

    &__title {
        margin-top: 2*$gap;
        color: $color-accent;
        font-size: 2rem;
        font-weight: bold;
    }

    &__container {
        padding: $gap;
        background-color: rgba(252, 178, 67, 0.918);
    }
    &__btn {
        background-color: $color-brown;
        border: none;
    }
}