.product__container {
    max-width: 100%;
}

.product-title__container {
    display: block;
    width: 100%;
    padding-top: $gap;
}

.product-description__container {
    width: 100%;
}

.card {
    background-color: transparent;
    border: none;
}






