.explore__container {
    height: 85vh;
    background-image: url(/assets/img/maxresdefault.jpg);
    background-size: cover;
}

.explore-subtitle {
    color: $color-white;
}

.explore-description {
    display: block;
    width: 100%;
    justify-content: center;
}

.trademark {
    font-size: 0.6em;
    position: relative;
    bottom: 1.5*$gap;
}