.product-container {
    background-color: $color-light;
    padding-bottom: 2*$gap;
}

.product-title {
    padding-top: $gap;
}

.product-description__container {
    padding-top: $gap;
}

.product-left,
.product-right {
    background-color: transparent;
    border: none;
    color: $color-brown;

    &__img {
        max-width: 500px;
        max-height: 300px;

        &:hover {
            transition: transform .5s;
            transform: scale(1.05);
        }
    }
}







