.header-menu {
    width: 100%;
}

.header-logo {
    margin-left: 100px;
    margin-right: (-15em);
}

.nav-item {
    padding-left: $gap;
    padding-right: $gap;
    font-size: 1.5em;
}

.dropdown-menu {
    width: 100%;
}
